#busqueda-articulos {
    justify-content: center;
}

#busqueda-articulos input[type="text"] {
    max-width: 700px;
}

header div {
    justify-content: center;
}

nav-bar__item a, .nav-bar__item--active a {
    font-size: 3.5rem;
}

.pokemons h2, .items h2 {
    font-size: 5rem;
}

.pokemons__card-list li, .items__card-list li {
    margin: 10px 10px;
}

.pokemons__card-list li:nth-child(2n+1), .items__card-list li:nth-child(2n+1) {
    margin-right: 10px;
}

.card {
    width: 300px;
    height: 350px;
}

.card__image img{
    width: 150px;
    height: 120px;
}

main {
    padding: auto;
    margin: auto;
    max-width: 1000px;
}